{% extends 'webpage/base.html' %}

{% block title %}
Project
{% endblock %}

{% block content %}
<h1>Project</h1>
<p>A century has sailed by since the luxury steamship RMS Titanic met its catastrophic end in the North Atlantic, plunging two miles to the ocean floor after sideswiping an iceberg during its maiden voyage. Rather than the intended Port of New York, a deep-sea grave became the pride of the White Star Line’s final destination in the early hours of April 15, 1912. More than 1,500 people lost their lives in the disaster. In the decades since her demise, Titanic has inspired countless books and several notable films while continuing to make headlines, particularly since the 1985 discovery of her resting place off the coast of Newfoundland. Meanwhile, her story has entered the public consciousness as a powerful cautionary tale about the perils of human hubris.</p>
<p>The goal of the project: parse data from titanic dataset and visualize passenger class, sex and ticket fare based on age range with d3.js crossfilter on the web page.</p> 
<p>You have to switch the tabs to see different visualizations based on age range.</p>
{% endblock %}